#header {
    overflow: visible;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #ffc;
    background: #19405D;
    overflow: visible;
    padding-top: 0;
    min-height: 40px;
    line-height: 32px;
}

#branding {
    float: left;
}
#branding h1 img {
  vertical-align: top;
}
#branding h1 {
  font-weight: 500;
}

#header #branding img {
    margin: 0px;
    padding: 0px;
    height: 31px;
    float: left;
    padding: 4px;
}
#header #branding h1 {
    margin: 0px;
    padding: 2px 0px 0px 0px;
    height: 31px;
    float: left;
    color: #e5ff30;
    white-space: nowrap;
}
#user-tools {
    float: right;
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
}
#header #user-tools a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
#header #user-tools a {
  color: #fff;
}

