{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% block report_header %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
<div id="header">
  <div id="branding">
    <a href="/">
      <img src="{% static 'img/logo.png' %}" alt="logo" height="30" border="0">
    </a>&nbsp;<h1 id="site-name">Propilei - Report Builder</h1>
  </div>
  <div id="user-tools">
    <a href="/admin/logout/">Log out</a>
  </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
